border{
	none;
}

.formulario_login{
	width:390px;
	height:190px;
	position:absolute;
	padding:10px;
	border:1px solid;
	border-radius:10px;
	left:50%;
	top:50%;
	margin-left:-200px;
	margin-top:-200px;	
}
		
.icone{
	width:200px;
	margin-left:75px;
}

.campoTexto{
	width:330px;
}

.botao{
	width:405px;
}

label{
	display:block;
	width:60px;
	text-align:right;
}